// sample

// $colors: (
//   background: (
//     main: hsl(222, 26%, 31%),
//     btn: hsl(223, 31%, 20%),
//     screen: hsl(224, 36%, 15%),
//   ),
//   keys: (
//     key: hsl(225, 21%, 49%),
//     key-shadow: hsl(224, 28%, 35%),

//     toggle: hsl(6, 63%, 50%),
//     toggle-shadow:  hsl(6, 70%, 34%),

//     btn: hsl(30, 25%, 89%),
//     btn-shadow: hsl(28, 16%, 65%),
//   ),
//   text: (
//     dark: hsl(221, 14%, 31%),
//     light: hsl(0, 0%, 100%),
//   )
// )